html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  color: #fff;
  font-family: sans-serif;
}

.container {
  padding: 20px;
  background-color: #fff;
  position: relative;
  color: #000;
  width: 75%;
  font-family: 'Assistant', sans-serif;
}

.container h1 {
  margin: 5pt 0;
  font-size: 28pt;
  color: #262626;
}

.information p {
  margin: 10pt 0;
}

.information .label {
  font-weight: 800;
  color: #262626;
}

.icon {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #262626;
  position: absolute;
  top: -90px;
  right: 5rem;
  background-image: url('./img/icon.png');
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #fff;
}