.nav-wrapper, nav, .nav-wrapper li a {
   height: 60px;
}

form.col.s12 {
   padding: 0;
}

canvas {
   border-radius: 3px;
}

.row.container {
   margin: 2em auto;
}

.bold {
   font-weight: bold;
}

.highlight {
   margin-bottom: 10em;
}

#dl {
   margin-right: 2em;
}

i.table {
   font-size: 14px;
   padding: 0;
   margin-top: -3px;
}

a.table {
   height: 30px;
   width: 30px;
   padding: 0;
}

.disabled {
   color: rgba(0,0,0,0.4);
}

/* Forms */
.input-field label {
   color: rgba(255,255,255,0.5);
}

.input-field input[type:text]:focus + label {
   color: white;
}

input[type=number], input[type=text] {
   border-bottom: 1px solid rgba(255,255,255,0.5);
}

input[type=text]:focus:not([readonly]), input[type=number]:focus:not([readonly]) {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
}

input[type=text]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label {
   color: white;
}

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
   border: 2px solid rgba(255,255,255,0.5);
}

[type="checkbox"].filled-in:not(:checked) + label:after {
   border: 2px solid rgba(255,255,255,0.5);
}

[type="checkbox"].filled-in:checked + label:before {
   border-right: 2px solid #b71c1c;
   border-bottom: 2px solid #b71c1c;
}

[type="checkbox"].filled-in:checked + label:after {
   border: 2px solid white;
   background-color: white;
}

[type="checkbox"] + label {
   color: white;
}

.select-wrapper span.caret {
  color: white;
}

.dropdown-content li > a, .dropdown-content li > span {
   color: #b71c1c;
}
